
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/base.css';
@import './styles/components.css';

@layer base {
  :root {
    --background: 39 24% 85%;
    --foreground: 127 57% 7%;
    --card: 48 41% 93%;
    --card-foreground: 127 57% 7%;
    --popover: 48 41% 93%;
    --popover-foreground: 127 57% 7%;
    --primary: 127 57% 7%;
    --primary-foreground: 48 41% 93%;
    --secondary: 51 100% 50%;
    --secondary-foreground: 127 57% 7%;
    --muted: 39 24% 85%;
    --muted-foreground: 127 57% 7%;
    --accent: 341 86% 68%;
    --accent-foreground: 127 57% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 48 41% 93%;
    --border: 39 24% 85%;
    --input: 39 24% 85%;
    --ring: 127 57% 7%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 127 57% 7%;
    --foreground: 48 41% 93%;
    --card: 127 57% 7%;
    --card-foreground: 48 41% 93%;
    --popover: 127 57% 7%;
    --popover-foreground: 48 41% 93%;
    --primary: 48 41% 93%;
    --primary-foreground: 127 57% 7%;
    --secondary: 51 100% 50%;
    --secondary-foreground: 127 57% 7%;
    --muted: 127 57% 7%;
    --muted-foreground: 48 41% 93%;
    --accent: 341 86% 68%;
    --accent-foreground: 48 41% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 48 41% 93%;
    --border: 127 57% 7%;
    --input: 127 57% 7%;
    --ring: 48 41% 93%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
}
